.navbar-under {
    height: 60px;
    width: 100%;
    /* margin-top: var(--navbar-height); */
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
}

.header {
    height: var(--navbar-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
}

.header-user-bell,
.header-user-option,
.header-user-camera {
    width: 26px;
    height: 26px;
}

.header-user-click {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url(../img/anhdaidien.jpg) center center / cover no-repeat;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.header-menu-logo {
    display: flex;
    align-items: center;
}

.header-menu-icon {
    font-size: 20px;
    margin-right: 16px;
    padding: 0 10px;
    cursor: pointer;
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search-box {
    position: relative;
    display: flex;
}

.header-search-input {
    width: 580px;
    padding: 2px 10px;
    border: none;
    border: 2px solid #f2f2f2;
}

.header-search-input-icon {
    display: inline-block;
    position: absolute;
    right: 90px;
    top: 12px;
    opacity: 0.8;
    cursor: pointer;
}

.btn-search {
    text-decoration: none;
    margin: 0;
}

.btn-search-icon {
    text-decoration: none;
    color: black;
    padding: 10px 28px;
    margin-left: 0;
    background-color: #f8f8f8;
    border: 2px solid #f2f2f2;
}

.header-search-record {
    padding: 10px 13px;
    background-color: #f9f9f9;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user-bell,
.header-user-option,
.header-user-camera {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}

.header-search-record-box {
    position: relative;
}

.header-content-hover {
    display: none;
    white-space: nowrap;
    overflow: auto;
    width: auto;
    position: absolute;
    font-size: 14px;
    margin-top: 24px;
    padding: 10px;
    background-color: #616161;
    color: white;
    opacity: 0.9;
    left: 50%;
    transform: translateX(-50%);
    animation: fade 0.2s linear;
}

.header-search-record-box:hover .header-content-hover,
.header-user-camera:hover .header-content-hover,
.header-user-option:hover .header-content-hover,
.header-user-bell:hover .header-content-hover {
    display: block;
}

.menu-user {
    background-color: white;
    width: 300px;
    height: 624px;
    position: absolute;
    left: -260px;
    top: 40px;
    cursor: default;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px #999;
}

.menu-user-contact {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.menu-user-contact-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.menu-user-contact-name {
    margin-bottom: 0;
    font-size: 18px;
}

.menu-user-contact-policy {
    /* max-width: 100%; */
    display: block;
    text-decoration: none;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #4e8de0;
}

.menu-user-contact-policy:hover {
    color: #4e8de0;
}

.menu-user-option-text {
    display: flex;
    align-items: center;
    margin: 12px 0;
    position: relative;
    cursor: pointer;
}

.menu-user-option {
    border-bottom: 1px solid #e5e5e5;
}

.menu-user-option-text p {
    margin: 0;
    margin-left: 10px;
}

.menu-user-option-last {
    display: flex;
    align-items: center;
}

.menu-user-option-text-icon {
    position: absolute;
    right: 4px;
    opacity: 0.8;
}

.menu-user-option-last {
    position: relative;
}


/* contetn */

.content {
    height: 1000px;
    margin-top: 60px;
}


/* content sidebar */

.content__navbar {
    width: 72px;
}

.content__navbar-item {
    padding-bottom: 14px;
    z-index: 1;
}

.content__navbar-item i {
    margin-bottom: 6px;
    color: #606060;
    font-size: 18px;
}

.content__navbar-item span {
    font-size: 10px;
    color: #606060;
}

.content__navbar-item:hover {
    background: #f1f1f1;
}


/* Hidden navbar */

.hidden-navbar {
    position: fixed;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
}

.nav-hid {
    width: 240px;
    background: #fff;
}

.nav-hid__header-logo img {
    padding: 18px 14px 18px 16px;
}

.nav-hid__header {
    height: var(--navbar-height);
}

.nav-hid__header i {
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.nav-hid__content {
    overflow: scroll;
}

.nav-hid__menu {
    padding-top: 12px;
}

.nav-hid__menu-item {
    color: #606060;
    font-size: 18px;
    height: 40px;
}

.nav-hid__menu-item:hover {
    background: #f1f1f1;
    color: #606060;
}

.nav-hid__menu-item span {
    display: inline-block;
    font-size: 14px;
    flex: 1;
}

.nav-hid-headding {
    font-size: 14px;
}

.nav-hid__footer-link {
    font-size: 13px;
    color: #606060;
}

.nav-hid__footer-links+.nav-hid__footer-links {
    padding-top: 12px;
}

.nav-hid__footer-copyright {
    font-size: 12px;
    color: #909090;
}


/* content main */

.content__main {
    width: calc(100% - var(--navbar-side-width));
}